<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
">
	<bean id="myFortune"
		class="com.udemy.spring.example.ImplementFortuneService">
	</bean>

	<!-- load the properties file -->
	<context:property-placeholder
		location="classpath:sport.properties" />

	<!-- Define your beans -->
	<bean id="myCoach" class="com.udemy.spring.example.BaseballCoach">
		<!-- set up the constructor injection -->
		<constructor-arg ref="myFortune"></constructor-arg>
	</bean>

	<bean id="myCricketCoach"
		class="com.udemy.spring.example.CricketCoach">
		<!-- set up setter injection -->
		<property name="fortuneServ" ref="myFortune"></property>

		<!-- inject lieteral values -->
<!-- 		<property name="emailAddress" value="team@swf.es"></property> -->
<!-- 		<property name="team" value="Sunrise Sun"></property> -->

		<!-- inject from properties file -->
		<property name="emailAddress" value="${foo.email}"></property>
		<property name="team" value="${foo.team}"></property>
	</bean>

	<!-- My logger config -->
	<bean id="myLoggerConfig"
		class="com.udemy.spring.example.MyLoggerConfig"
		init-method="initLogger">
		<property name="rootLoggerLevel" value="FINE" />
		<property name="printedLoggerLevel" value="FINE" />
	</bean>

</beans>